<header>
  Header
</header>
<section>
  <div class="grid-container">
    <%= form_tag do %>
    <table class="table-bordered float inline">
      <% @map_points.each do |key, array| %>
      <tr>
        <% array.each do |map_point| %>
        <% if map_point.id == @map_point.id %>
        <td class="current_zone">
          <%= radio_button_tag(:id,map_point.id, true, class: "grid_point") %>
        </td>
        <% else %>
        <td>
          <%= radio_button_tag(:id,map_point.id, false, class: "grid_point") %>
        </td>
        <% end %>

        <% end %>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
  <div class="controls">
    <div class="arrow">
      <% unless @neighbors[Directions::NORTHWEST].nil? %>
      <%= link_to '', grid_move_path(@neighbors[Directions::NORTHWEST]), :class => "btn btn-grid-controls north-west glyphicon glyphicon-arrow-up"  %>
      <% end %>
    </div>
    <div class="arrow">
      <% unless @neighbors[Directions::NORTH].nil? %>
      <%= link_to '', grid_move_path(@neighbors[Directions::NORTH]), :class => "btn btn-grid-controls glyphicon glyphicon-arrow-up"  %>
      <% end %>
    </div>
    <div class="arrow">
      <% unless @neighbors[Directions::NORTHEAST].nil? %>
      <%= link_to '', grid_move_path(@neighbors[Directions::NORTHEAST]), :class => "btn btn-grid-controls north-east glyphicon glyphicon-arrow-up"  %>
      <% end %>
    </div>
    <div class="arrow">
      <% unless @neighbors[Directions::WEST].nil? %>
        <%= link_to '', grid_move_path(@neighbors[Directions::WEST]), :class => "btn btn-grid-controls glyphicon glyphicon-arrow-left"  %>
        <% end %>
    </div>
    <div class="arrow"></div>
    <div class="arrow">
    <% unless @neighbors[Directions::EAST].nil? %>
      <%= link_to '', grid_move_path(@neighbors[Directions::EAST]), :class => "btn btn-grid-controls glyphicon glyphicon-arrow-right"  %>
      <% end %>
    </div>
    <div class="arrow">
      <% unless @neighbors[Directions::SOUTHWEST].nil? %>
        <%= link_to '', grid_move_path(@neighbors[Directions::SOUTHWEST]), :class => "btn btn-grid-controls south-west glyphicon glyphicon-arrow-down"  %>
        <% end %>
    </div>
    <div class="arrow">
      <% unless @neighbors[Directions::SOUTH].nil? %>
        <%= link_to '', grid_move_path(@neighbors[Directions::SOUTH]), :class => "btn btn-grid-controls glyphicon glyphicon-arrow-down"  %>
        <% end %>
    </div>
    <div class="arrow">
      <% unless @neighbors[Directions::SOUTHEAST].nil? %>
        <%= link_to '', grid_move_path(@neighbors[Directions::SOUTHEAST]), :class => "btn btn-grid-controls south-east glyphicon glyphicon-arrow-down"  %>
        <% end %>
    </div>
  </div>
</section>
<footer>
  <div class="float zone">
    <%= render @map_point ||= MapPoint.new %>
  </div>
</footer>
